html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

div#map {
    height: 70vh;
    width: 70vw;
    display: inline-block;
}

div#directionsPanel {
    width: 29vw;
    position: absolute;
    right: 0;
    display: inline;
}