<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proiect</title>
    <script defer>
        const roomName = "<%= roomName %>"
    </script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="javascripts/appointment.js"></script>
    <link rel="stylesheet" media="(min-width:1000px)" href="stylesheets/appointment.css">
    <link rel="stylesheet" media="(max-width: 999px)" href="stylesheets/lowRez.css">
</head>

<body>
    <nav class="navbar">
        <a href="index.html">Acasa</a>
        <a href="account.html">Cont</a>
        <a href="map.html">Harta</a>
        <a href="appointment.html">Programari</a>
    </nav>
    <div class="chatbox">
        <div id="message-container"></div>
        <form id="send-container">
            <textarea class="send-text" type="text" id="message-input" rows="4" cols="50"></textarea>
            <button type="submit" id="send-button">Send</button>
        </form>
    </div>
</body>

</html>