html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 99vw;
    background-color: #EFEFEF;
    overflow: auto;
}

* {
    font-family: Sen;
    color: black;
}

.navbar {
    top: 0;
    left: 0;
    display: flex;
    height: 8vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
}

.navbar>a {
    display: block;
    text-align: center;
    background-color: #A9A9A9;
    width: 100%;
    padding: 2vh;
    border: 1px solid black;
    text-decoration: none;
}

.navbar>a:active {
    text-decoration: none;
}

.navbar>a:visited {
    text-decoration: none;
}

.navbar>a:hover {
    background-color: #FF3B3F;
    ;
}

*::selection {
    background-color: #CAEBF2;
}

.indexBody main {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    height: max-content;
}

.indexBody main section.Main {
    position: relative;
    top: 20vh;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    flex-direction: column;
}

.indexBody main>section>h1.title {
    top: 2vh;
    width: 100vw;
    text-align: center;
    font-size: 3em;
}

.indexBody main>section>p {
    width: 100vw;
    text-align: center;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

section.NewsSection {
    position: relative;
    top: 10vh;
    height: 470vh;
}

iframe {
    width: 100%;
    border: 0px;
    height: 100%;
}